<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">
	
	<head>
		<meta charset="utf-8">
	</head>
	
	<body>		
		
		<th:block layout:fragment="content">
			<section id="carroselSuperior" th:replace="fragments/index/carroselSuperior :: slider"></section>			
			<section id="services" th:replace="fragments/index/servico :: service"></section>	
			<section id="about" th:replace="fragments/index/sobre :: about"></section>	
			<section id="portfolio" th:replace="fragments/index/frota :: frota"></section>	
			<section id="our-team" th:replace="fragments/index/equipe :: team"></section>
			<section id="pricing" th:replace="fragments/index/planos :: plans"></section>	
			<section id="testimonial" th:replace="fragments/index/testimonial :: testimonial"></section>
			<section id="contact" th:replace="fragments/index/contato :: contact"></section>
			<section id="comoChegar" th:replace="fragments/index/comoChegar :: map"></section>
		</th:block>
			
	</body>
</html>