<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"	
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  th:lang=${#locale.language}>
	
	<head th:replace="layouts/layout :: layoutHead"></head>
	
	<body id="home">
	
		<header th:replace="layouts/layout :: layoutHeader"></header>
		
		<section>		
			<section id="carroselSuperior" th:replace="index/carroselSuperior"></section>			
			<section id="services" th:replace="index/servico :: services"></section>	
			<section id="about" th:replace="index/sobre :: about"></section>	
			<section id="portfolio" th:replace="index/frota :: portfolio"></section>	
			<section id="our-team" th:replace="index/equipe :: our-team"></section>
			<section id="pricing" th:replace="index/planos :: pricing"></section>	
			<section id="testimonial" th:replace="index/testimonial :: testimonial"></section>
			<section id="contact" th:replace="index/contato :: contact"></section>
			<section id="comoChegar" th:replace="index/comoChegar :: comoChegar"></section>
		</section>
		
		<footer th:replace="layouts/layout :: layoutFooter"></footer>
		
	</body>
	
</html>