<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"	
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  th:lang=${#locale.language}>

	<head>	
		<!-- Para usar caracteres Unicode (acentos e cedilha) -->	
		<meta charset="utf-8"> 
		<!-- força o IE a usar as definições de CSS mais recentes, e evita que ele quebre o visual quando estiver no Modo de Compatibilidade. -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Design Responsivo. Faz o site ocupar todo o espaço disponível na janela, tanto em celulares, como em tablets ou em PC’s. -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<meta name="author" content="Rodrigo Pimentel"/>
	
		<!-- Titulo da aba do navegador -->
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="#{nomeAplicativo} + ' ' + #{nomeAplicativoComplemento}"></title> 
				
		<th:block th:include="fragments/layout/styles :: styles"></th:block>
			
		<!-- Icone da aba do navegador -->			
		<link rel="shortcut icon" th:href="@{images/icon/icon.png}"> 	
	</head>
	
	<body id="home">
			
		<section th:replace="fragments/layout/header :: header"></section>		
			    
		<main>	    
	    	<section layout:fragment="content">Conteudo da pagina</section> 
	    </main>
	    
	    <section th:replace="fragments/layout/footer :: footer"></section>
	    
	    <th:block th:include="fragments/layout/scripts :: scripts"></th:block>
		
	</body>
</html>