<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="utf-8">
	</head>
	
	<body>
	
		<section id="contact" th:fragment="contact">
			
			<section id="contact-us">
				<div class="container">
					<div class="section-header">
						<h2 class="section-title text-center wow fadeInDown">Fale
							Conosco</h2>
						<p class="text-center wow fadeInDown">
							Entre em contato conosco e negocie com nossos Locadores, <br>deixe
							sugestões ou para demais finalidades.
						</p>
					</div>
				</div>
			</section>
		
			<section id="contact-form">
		
				<div class="container-wrapper">
					<div class="container contact-info">
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<div class="contact-form">
									<address>
										<strong>Noca Corporation, LTDA.</strong><br> Rua Baraúnas,
										351, Bairro Universitário <br> Campina Grande-PB, CEP
										58429-500<br> <abbr title="Phone">P:</abbr> (123) 456-7890
									</address>
								</div>
							</div>
							<div class="col-sm-8 col-md-8">
								<div class="contact-form">
		
									<!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
		
									<form name="sentMessage" id="contactForm" novalidate>
										<h3>Formulario de Contato</h3>
										<div class="control-group">
											<div class="controls">
												<input type="text" class="form-control"
													placeholder="Nome Completo" id="name" required
													data-validation-required-message="Por favor coloque seu nome" />
												<p class="help-block"></p>
											</div>
										</div>
										<div class="control-group">
											<div class="controls">
												<input type="email" class="form-control" placeholder="Email"
													id="email" required
													data-validation-required-message="Por favor coloque seu email" />
											</div>
										</div>
		
										<div class="control-group">
											<div class="controls">
												<textarea rows="10" cols="100" class="form-control"
													placeholder="Mensagem" id="message" required
													data-validation-required-message="Por favor coloque sua Mensagem"
													minlength="5"
													data-validation-minlength-message="Min 5 characters"
													maxlength="999" style="resize: none"></textarea>
											</div>
										</div>
										<div id="success"></div>
										<!-- For success/fail messages -->
										<button type="submit" class="btn btn-primary pull-right">Enviar</button>
										<br />
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	
	</body>
</html>