<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8"> <!-- Para usar caracteres Unicode (acentos e cedilha) -->
	</head>
	
	<body>	
		
		<section id="services" th:fragment="services">
		        
		        <div class="container">
		
		            <div class="section-header">
		                <h2 class="section-title text-center wow fadeInDown">Serviços</h2>
		                <p class="text-center wow fadeInDown">Conheça nossos principais Serviços.</p>
		            </div>
		
		            <div class="row">
		                <div class="features">
		                    
		                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
		                        <div class="media service-box">
								<div class="hexagon">
								  <div class="inner">              
									  <i class="fa fa-heart-o"></i>
								  </div>
								</div> 
		                            <div class="media-body">
		                                <h4 class="media-heading">Passeio pela Cidade</h4>
		                                <p>Contrate um de nossos passeios pela maravilhosa Cidade de Campina Grande</p>
		                            </div>
		                        </div>
		                    </div><!--/.col-md-4-->
		
		                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
		                        <div class="media service-box">
								<div class="hexagon">
								  <div class="inner">              
									<i class="fa fa-line-chart"></i>
								  </div>
								</div>  
		                            <div class="media-body">
		                                <h4 class="media-heading">Carros de Luxo</h4>
		                                <p>Venha conheçer nossa frota de Carros de Luxo <br><br></p>
		                            </div>
		                        </div>
		                    </div><!--/.col-md-4-->
		
		                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
		                        <div class="media service-box"> 
										<div class="hexagon">
								  <div class="inner">  
		                                <i class="fa fa-star-o"></i>
								  </div>
								</div>  
		                            <div class="media-body">
		                                <h4 class="media-heading">Seguro</h4>
		                                <p>Cobertura Total ou Parcial<br><br></p>
		                            </div>
		                        </div>
		                    </div><!--/.col-md-4-->
		                
		                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
		                        <div class="media service-box">
		                            
										<div class="hexagon">
								  <div class="inner">  
		                                <i class="fa fa-clock-o"></i>
								  </div>
								</div>  
		                            <div class="media-body">
		                                <h4 class="media-heading">Vá à qualuer lugar</h4>
		                                <p>Liberdade para viajar por toda a Paraíba a qualquer hora</p>
		                            </div>
		                        </div>
		                    </div><!--/.col-md-4-->
		
		                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
		                        <div class="media service-box">
									<div class="hexagon">
								  <div class="inner">  
		                                <i class="fa fa-paper-plane-o"></i>
								  </div>
								</div>   
		                            <div class="media-body">
		                                <h4 class="media-heading">Pacotes Flexiveis</h4>
		                                <p>Tenha a liberdade para adicionar upgrade de outros pacotes ao seu<br></p>
		                            </div>
		                        </div>
		                    </div><!--/.col-md-4-->
		
		                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
		                        <div class="media service-box">
									<div class="hexagon">
								  <div class="inner">  
		                                <i class="fa fa-calendar"></i>
								  </div>
								</div>    
		                            <div class="media-body">
		                                <h4 class="media-heading">Assistência 24x7</h4>
		                                <p>Tenha assistência 24 horas por dia e 7 dias por semana</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        
		    </section>
		    
	</body>
</html>