<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<head>
	<meta charset="utf-8">
	</head>
	
	<body>
	
		<section id="about" th:fragment="about">
			<div class="container">
	
				<div class="section-header">
					<h2 class="section-title text-center wow fadeInDown">Sobre nós</h2>
					<p class="text-center wow fadeInDown">
						Projeto desenvolvido por Rodrigo Pimentel para a disciplina de
						Programação WEB da Universidade Estadual da Paraiba - UEPB <br>no
						periodo 2018.2. Disciplina ministrada pelo Prof. Thiago Batista.
					</p>
				</div>
	
				<div class="row">
					<div class="col-sm-6 wow fadeInLeft">
						<img class="img-responsive" src="images/about.png" alt="">
					</div>
	
					<div class="col-sm-6 wow fadeInRight">
						<h3 class="column-title">Bacharelado em Ciência da Computação</h3>
						<p style="text-align: justify;">O curso visa formar
							profissionais capazes de desenvolver suas atividades nos mais
							diversos campos do conhecimento humano relacionado à computação,
							com proficiência, visão crítica e conduta ética. Para tal fim,
							buscará dotar o corpo discente do curso, de uma sólida e
							atualizada formação computacional, matemática e educacional, que o
							capacite a resolver os problemas usuais da computação. Além disso,
							deve estimular sua capacidade criativa e ampliar sua curiosidade
							científica para que permita atuação profissional crítica e ética,
							diante dos fatos, em sintonia com as necessidades regionais e
							nacionais, bem como buscando estar em sintonia com o mundo
							globalizado.</p>
	
	
						<a class="btn btn-primary" href="http://departamentos.uepb.edu.br/computacao/">Leia mais</a>
	
					</div>
				</div>
			</div>
		</section>
	</body>
</html>