<!DOCTYPE html>
<html>
	  
	<head>
		<meta charset="utf-8">
	</head>
	
	<body>
	
		<section id="main-slider" th:fragment="slider">
	
			<div class="owl-carousel">
	
				<div class="item"
					style="background-image: url(images/slider/bg1.jpg);">
					<div class="slider-inner">
						<div class="container">
							<div class="row">
								<div class="carousel-caption">
									<div class="carousel-content">
										<h2>DIRIGA POR CAMPINA GRANDE</h2>
										<p>Alugue um Carro</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<div class="item"
					style="background-image: url(images/slider/bg2.jpg);">
					<div class="slider-inner">
						<div class="container">
							<div class="row">
								<div class="carousel-caption">
									<div class="carousel-content">
										<h2>ALUGUE UM CARRO NA PROMOÇÃO</h2>
										<p>Aproveite as incriveis ofertas</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
			</div>
	
		</section>
	
	</body>
</html>